<div class="row">
  <div class="large-3 small-3 columns">
    <h2 id="name"><%= link_to "soyo", root_path%></h2> 
  </div>
  <div class="large-9 large-9 columns">
    <nav class="right">
      <ul class="inline-list">
        <li><%= link_to "Regístrate", "#" %></li>
        <li><%= link_to "Inicia sesión", "#" %></li>
        <li><%= link_to "Ayuda", help_path %></li>
        <li class="header-button-padding">
          <%= link_to "Sube tu hoja de vida", "#", class: 'button small radius secondary own-color-font', 
          "data-reveal-id" => 'siginModal'  %>
        </li>
      </ul>
    </nav>
  </div> 
</div>